/* import the required google fonts */

/* setting up the basic colors */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --theme-background-color:black;
  --theme-main-color:cyan;
  --theme-nav-text-color:violet;
  --theme-nav-background-color:yellowgreen;
}

*{
  box-sizing: 0;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
  height: 100%;
}
body{

  background-image: url('../public/home.jpg');;
  background-repeat: no-repeat;
  background-size: cover;  
  background-color: black;
  background-blend-mode: screen;
  background-attachment: fixed;
  width: 100%; 
  height:100%;
}
#root{
  height: 100%;
}